@font-face {
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
  font-family: BarlowSemiCondensed;
}

body {
  background: radial-gradient(circle, #1f3756, #141539);
  font-family: BarlowSemiCondensed;
  margin: 0;
  padding: 0;
}

.scoreboard {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border: 2px solid #606e85;
  border-radius: 5px;
  margin: 40px auto;
}

.scoreboard .rockpaperscissors {
  margin: auto 18px;
}

.scoreboard .rockpaperscissors b {
  color: #fff;
  display: block;
  line-height: 17px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.scoreboard .score {
  -ms-grid-column-align: end;
      justify-self: end;
  width: auto;
  margin: 10px 8px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: 600;
  color: #2a46c0;
}

.scoreboard .score #score {
  color: #3b4363;
  font-size: 2.8rem;
  margin: 0 4px;
  font-weight: 700;
}

.game-container .stage-1 {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 400px;
  margin: 20px auto;
  margin-top: 73px;
}

.game-container .stage-1 .paper-wrapper {
  cursor: pointer;
  position: relative;
  left: -48px;
  top: -28px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  padding: 18px;
  border-bottom: 8px solid #2e45b8;
}

.game-container .stage-1 .paper-wrapper .paper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .stage-1 .paper-wrapper .paper #paper {
  margin-top: 18px;
  margin-right: 4px;
}

.game-container .stage-1 .scissors-wrapper {
  cursor: pointer;
  position: relative;
  left: 190px;
  top: -196px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  padding: 18px;
  border-bottom: 8px solid #c48003;
}

.game-container .stage-1 .scissors-wrapper .scissors {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .stage-1 .scissors-wrapper .scissors #scissors {
  margin-top: 18px;
  margin-right: 4px;
}

.game-container .stage-1 .rock-wrapper {
  position: relative;
  left: 70px;
  top: -155px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  padding: 18px;
  border-bottom: 8px solid #ac1b35;
}

.game-container .stage-1 .rock-wrapper .rock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .stage-1 .rock-wrapper .rock #rock {
  margin-top: 22px;
  margin-right: 4px;
}

.game-container .stage-2 {
  display: none;
}

.game-container .stage-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
}

.game-container .stage-2 .container .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
}

.game-container .stage-2 .container .images .user-selection {
  margin: 12px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-container .stage-2 .container .images .house-selection {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.game-container .stage-2 .container .info {
  gap: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin: 8px;
  text-align: center;
}

.unknown {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #162138;
}

.rules {
  text-align: center;
  margin-bottom: 12px;
}

.rules #rulesBtn {
  border-radius: 8px;
  background: none;
  width: 140px;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  outline: none;
}

.rules #rulesBtn:hover {
  background-color: #fff;
  color: #3b4363;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
}

.modal-content {
  background-color: #fff;
  margin: 45px 0 35px 0;
  padding: 17px 0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.modal-content #icon-close {
  position: relative;
  z-index: 99;
  width: 22px;
  margin: 0;
  padding: 0;
  top: 70vh;
}

.modal-content .rules-title {
  color: #3b4363;
  padding: 0;
  font-size: 1.5rem;
  margin: 0;
}

.modal-content #img-rules {
  margin-top: 80px;
  width: 250px;
  z-index: -1;
  padding: 0;
}

.paper-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  padding: 18px;
  border-bottom: 8px solid #2e45b8;
}

.paper-wrapper .paper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #eee;
}

.paper-wrapper .paper .paperImg {
  margin-right: 4px;
  width: 60%;
  margin-top: 8px;
}

.scissors-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  padding: 18px;
  border-bottom: 8px solid #c48003;
}

.scissors-wrapper .scissors {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #eee;
}

.scissors-wrapper .scissors .scissorsImg {
  margin-top: 8px;
  width: 60%;
}

.rock-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  padding: 18px;
  border-bottom: 8px solid #ac1b35;
}

.rock-wrapper .rock {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #eee;
}

.rock-wrapper .rock .rockImg {
  margin-top: 12px;
  margin-right: 4px;
  width: 60%;
}

.house-wrapper {
  display: none;
}

.show-modal {
  visibility: visible;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 700px) {
  .rules {
    text-align: none;
    position: absolute;
    right: 12px;
    bottom: 25px;
  }
  .rules #rulesBtn {
    border-radius: 8px;
    background: none;
    width: 160px;
    padding: 8px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    outline: none;
  }
  .rules #rulesBtn:hover {
    background-color: #fff;
    color: #3b4363;
    background: line;
  }
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    position: relative;
    top: 25%;
    background-color: #fff;
    margin: auto auto;
    border-radius: 5px;
    width: 320px;
    text-align: center;
  }
  .modal-content #icon-close {
    position: absolute;
    top: 28px;
    width: 20px;
    margin-left: 53px;
    padding: 0;
  }
  .modal-content .rules-title {
    color: #3b4363;
    padding: 0;
    font-size: 1.5rem;
    margin-left: 18px;
    margin-top: 10px;
    float: left;
  }
  .modal-content #img-rules {
    margin-top: 40px;
    width: 250px;
    z-index: -1;
    padding: 0;
  }
  .scoreboard {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    border: 2px solid #606e85;
    border-radius: 5px;
    margin: 40px auto;
  }
  .scoreboard .rockpaperscissors {
    margin: auto 18px;
  }
  .scoreboard .rockpaperscissors b {
    color: #fff;
    display: block;
    line-height: 24px;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }
  .scoreboard .score {
    -ms-grid-column-align: end;
        justify-self: end;
    width: auto;
    margin: 10px 16px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 5px 17px;
    font-size: 1.2rem;
    color: #2a46c0;
  }
  .scoreboard .score #score {
    color: #3b4363;
    font-size: 3.8rem;
    margin: 0 4px;
  }
  .text {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 12px;
    text-align: center;
  }
  .unknown {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #162138;
  }
  .paper-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  .paper-wrapper .paper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .paper-wrapper .paper .paperImg {
    margin-top: 16px;
    margin-right: 4px;
  }
  .scissors-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  .scissors-wrapper .scissors {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .scissors-wrapper .scissors .scissorsImg {
    margin-top: 18px;
    margin-right: 0px;
  }
  .rock-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  .rock-wrapper .rock {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .rock-wrapper .rock .rockImg {
    margin-top: 22px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 700px) {
  .game-container {
    margin: 75px 0;
  }
  .game-container .stage-1 {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 220px;
    height: auto;
    margin: 45px auto 23px auto;
  }
  .game-container .stage-1 .paper-wrapper {
    position: relative;
    left: 12px;
    top: 10px;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 15px;
    border-bottom: 8px solid #2e45b8;
  }
  .game-container .stage-1 .paper-wrapper .paper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .stage-1 .paper-wrapper .paper #paper {
    margin-top: -5px;
    margin-right: 2px;
    width: 85%;
  }
  .game-container .stage-1 .scissors-wrapper {
    position: relative;
    left: 188px;
    top: -98px;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 15px;
    border-bottom: 8px solid #c48003;
  }
  .game-container .stage-1 .scissors-wrapper .scissors {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .stage-1 .scissors-wrapper .scissors #scissors {
    margin-top: -3px;
    margin-right: 2px;
    width: 85%;
  }
  .game-container .stage-1 .rock-wrapper {
    position: relative;
    left: 103px;
    top: -48px;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 15px;
    border-bottom: 8px solid #ac1b35;
  }
  .game-container .stage-1 .rock-wrapper .rock {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .stage-1 .rock-wrapper .rock #rock {
    margin-top: 2px;
    margin-right: 2px;
    width: 85%;
  }
  .game-container .stage-2 {
    display: none;
  }
  .game-container .stage-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .game-container .stage-2 .container .images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    gap: 20px;
  }
  .game-container .stage-2 .container .images .user-selection {
    margin: 12px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game-container .stage-2 .container .images .house-selection {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
  }
  .game-container .stage-2 .container .images .house-selection .unknown {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .stage-2 .container .info {
    gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 300px) {
  body {
    overflow-x: hidden;
  }
  .game-container .stage-1 {
    background-size: 220px;
    height: auto;
    margin: -8px;
  }
  .rules {
    margin-left: 18px;
  }
}
/*# sourceMappingURL=style.css.map */