@font-face {
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
  font-family: BarlowSemiCondensed;
}

@-webkit-keyframes scoreboard {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scoreboard {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes body {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-360deg);
            transform: scale(0) rotate(-360deg);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes body {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-360deg);
            transform: scale(0) rotate(-360deg);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes modal {
  0% {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes modal {
  0% {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  background: radial-gradient(circle, #1f3756, #141539) center center fixed;
  font-family: BarlowSemiCondensed;
  margin: 0;
  padding: 0;
}

.scoreboard {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border: 3px solid #606e85;
  border-radius: 5px;
  margin: 40px auto;
  -webkit-animation: scoreboard 400ms ease-out forwards;
          animation: scoreboard 400ms ease-out forwards;
}

.scoreboard .rockpaperscissors {
  margin: auto 18px;
}

.scoreboard .rockpaperscissors p {
  color: #fff;
  display: block;
  line-height: 17px;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.scoreboard .rockpaperscissors .score {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 70px;
  margin: 10px 8px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: 600;
  color: #2a46c0;
}

.scoreboard .rockpaperscissors .score #score {
  color: #3b4363;
  font-size: 2.8rem;
  margin: 0 4px;
  font-weight: 700;
  -webkit-animation: score 400ms ease-in forwards;
          animation: score 400ms ease-in forwards;
}

#scissors-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  padding: 18px;
  border-bottom: 8px solid #c48003;
}

#scissors-wrapper #scissors {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

#scissors-wrapper #scissors #scissorsImg {
  margin: 10px auto;
  width: 50%;
}

#paper-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  padding: 18px;
  border-bottom: 8px solid #2e45b8;
}

#paper-wrapper #paper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

#paper-wrapper #paper #paperImg {
  margin: 10px auto;
  width: 50%;
}

#rock-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  padding: 18px;
  border-bottom: 8px solid #ac1b35;
}

#rock-wrapper #rock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

#rock-wrapper #rock #rockImg {
  margin: 18px auto;
  width: 50%;
}

.game-container {
  margin-top: 54px;
  margin-bottom: 54px;
  -webkit-animation: body 500ms ease-in forwards;
          animation: body 500ms ease-in forwards;
}

.game-container .step-1 {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: center;
  width: 300px;
  height: auto;
  margin: 20px auto 0 auto;
  margin-top: 5%;
}

.game-container .step-1 .paper-wrapper {
  position: relative;
  left: 12px;
  top: 10px;
  width: 75px;
  height: 75px;
  margin: 0;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  padding: 15px;
  border-bottom: 8px solid #2e45b8;
}

.game-container .step-1 .paper-wrapper:hover {
  cursor: pointer;
}

.game-container .step-1 .paper-wrapper .paper {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .step-1 .paper-wrapper .paper #paper {
  margin-top: 5px;
  margin-right: 2px;
  width: 65%;
}

.game-container .step-1 .scissors-wrapper {
  position: relative;
  left: 183px;
  top: -105px;
  width: 75px;
  height: 75px;
  margin: 0;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  padding: 15px;
  border-bottom: 8px solid #c48003;
}

.game-container .step-1 .scissors-wrapper:hover {
  cursor: pointer;
}

.game-container .step-1 .scissors-wrapper .scissors {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .step-1 .scissors-wrapper .scissors #scissors {
  margin-top: 3px;
  margin-right: 2px;
  width: 65%;
}

.game-container .step-1 .rock-wrapper {
  position: relative;
  left: 95px;
  top: -48px;
  width: 75px;
  height: 75px;
  margin: 0;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  padding: 15px;
  border-bottom: 8px solid #ac1b35;
}

.game-container .step-1 .rock-wrapper:hover {
  cursor: pointer;
}

.game-container .step-1 .rock-wrapper .rock {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ddd;
}

.game-container .step-1 .rock-wrapper .rock #rock {
  margin-top: 8px;
  margin-right: 2px;
  width: 65%;
}

.game-container .step-2-3-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.game-container .step-2-3-4 .user-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.game-container .step-2-3-4 .user-selection .text {
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.game-container .step-2-3-4 .lose-win {
  display: none;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 50px 0 52px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: display 0.5s ease-in;
  transition: display 0.5s ease-in;
}

.game-container .step-2-3-4 .lose-win .outcome {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 3.4rem;
  width: 300px;
  letter-spacing: 0.2rem;
  margin: 12px;
}

.game-container .step-2-3-4 .lose-win #playAgain {
  padding: 18px;
  width: 220px;
  border-radius: 4px;
  background-color: #fff;
  color: #3b4363;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.game-container .step-2-3-4 .house-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-animation: body 400ms ease-out forwards;
          animation: body 400ms ease-out forwards;
}

.game-container .step-2-3-4 .house-selection .text {
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.game-container .step-2-3-4 .house-selection .unknown {
  background-color: #141539;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
}

.text {
  margin: 0 8px;
  margin-bottom: 0;
}

.rules {
  text-align: center;
  margin-bottom: 20px;
}

.rules #rulesBtn {
  border-radius: 8px;
  background: none;
  width: 140px;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
}

.modal-content {
  background-color: #fff;
  margin: 45px 0 35px 0;
  padding: 17px 0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.modal-content #icon-close {
  position: relative;
  z-index: 99;
  width: 22px;
  margin: 0;
  padding: 0;
  top: 70vh;
}

.modal-content #icon-close:hover {
  cursor: pointer;
}

.modal-content .rules-title {
  color: #3b4363;
  padding: 0;
  font-size: 1.5rem;
  margin: 0;
}

.modal-content #img-rules {
  margin-top: 80px;
  width: 250px;
  z-index: -1;
  padding: 0;
}

.show-modal {
  visibility: visible;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 635px) {
  #scissors-wrapper {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  #scissors-wrapper #scissors {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #scissors-wrapper #scissors #scissorsImg {
    margin: 10px auto;
    width: 50%;
  }
  #paper-wrapper {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  #paper-wrapper #paper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #paper-wrapper #paper #paperImg {
    margin: 10px auto;
    width: 50%;
  }
  #rock-wrapper {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  #rock-wrapper #rock {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #rock-wrapper #rock #rockImg {
    margin: 10px auto;
    width: 50%;
  }
  .game-container {
    margin-top: 54px;
  }
  .game-container .step-2-3-4 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .game-container .step-2-3-4 .user-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container .step-2-3-4 .user-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 12px;
  }
  .game-container .step-2-3-4 .lose-win {
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 50px 0 52px 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .step-2-3-4 .lose-win .outcome {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 3.4rem;
    width: 300px;
    letter-spacing: 0.2rem;
    margin: 12px;
  }
  .game-container .step-2-3-4 .lose-win #playAgain {
    padding: 18px;
    width: 220px;
    border-radius: 4px;
    background-color: #fff;
    color: #3b4363;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .game-container .step-2-3-4 .house-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .game-container .step-2-3-4 .house-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 12px;
  }
  .game-container .step-2-3-4 .house-selection .unknown {
    background-color: #141539;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 720px) {
  .scoreboard {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    border: 3px solid #606e85;
    border-radius: 5px;
    margin: 40px auto;
  }
  .scoreboard .rockpaperscissors {
    margin: auto 18px;
  }
  .scoreboard .rockpaperscissors p {
    color: #fff;
    display: block;
    line-height: 24px;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .scoreboard .score {
    -ms-grid-column-align: end;
        justify-self: end;
    width: auto;
    margin: 10px 16px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 5px 17px;
    font-size: 1.2rem;
    color: #2a46c0;
  }
  .scoreboard .score #score {
    color: #3b4363;
    font-size: 3.2rem;
    margin: 0 4px;
  }
}

@media screen and (min-width: 619px) {
  .game-container .step-2-3-4 .lose-win {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0 52px 0;
  }
  .game-container .step-2-3-4 .lose-win .outcome {
    font-size: 3rem;
  }
}

@media screen and (min-width: 636px) {
  .game-container .step-2-3-4 .lose-win {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0 52px 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .step-1 {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 290px 290px;
    width: 300px;
    height: 400px;
    margin: 20px auto 0 auto;
    margin-top: 5%;
  }
  .game-container .step-1 .paper-wrapper {
    position: relative;
    left: -60px;
    top: -28px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  .game-container .step-1 .paper-wrapper .paper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .paper-wrapper .paper #paper {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .scissors-wrapper {
    position: relative;
    left: 200px;
    top: -190px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  .game-container .step-1 .scissors-wrapper .scissors {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .scissors-wrapper .scissors #scissors {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .rock-wrapper {
    position: relative;
    left: 70px;
    top: -150px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  .game-container .step-1 .rock-wrapper .rock {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .rock-wrapper .rock #rock {
    margin: 26px auto;
    width: 50%;
  }
  .game-container .step-2-3-4 .user-selection .text {
    margin-top: 14px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .step-2-3-4 .house-selection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .game-container .step-2-3-4 .house-selection .unknown {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .game-container .step-2-3-4 .house-selection .text {
    margin-top: 9px;
  }
  .game-container .step-2-3-4 .house-selection .house-wrapper {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 720px) {
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    position: relative;
    top: 25%;
    background-color: #fff;
    margin: auto auto;
    border-radius: 5px;
    width: 320px;
    text-align: center;
  }
  .modal-content #icon-close {
    position: absolute;
    top: 28px;
    width: 20px;
    margin-left: 53px;
    padding: 0;
  }
  .modal-content .rules-title {
    color: #3b4363;
    padding: 0;
    font-size: 1.5rem;
    margin-left: 18px;
    margin-top: 10px;
    float: left;
  }
  .modal-content #img-rules {
    margin-top: 40px;
    width: 250px;
    z-index: -1;
    padding: 0;
  }
  .rules {
    text-align: none;
    position: relative;
    right: 22px;
    bottom: 15px;
    float: right;
  }
  .rules #rulesBtn {
    border-radius: 8px;
    background: none;
    width: 160px;
    padding: 8px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    outline: none;
  }
  .scoreboard {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    border: 3px solid #606e85;
    border-radius: 5px;
    margin: 40px auto;
  }
  .scoreboard .rockpaperscissors {
    margin: auto 18px;
  }
  .scoreboard .rockpaperscissors p {
    color: #fff;
    display: block;
    line-height: 24px;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }
  .scoreboard .score {
    -ms-grid-column-align: end;
        justify-self: end;
    width: auto;
    margin: 10px 16px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 5px 17px;
    font-size: 1.2rem;
    color: #2a46c0;
  }
  .scoreboard .score #score {
    color: #3b4363;
    font-size: 3.8rem;
    margin: 0 4px;
  }
  #scissors-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  #scissors-wrapper #scissors {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #scissors-wrapper #scissors #scissorsImg {
    margin: 23px auto;
    width: 50%;
  }
  #paper-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  #paper-wrapper #paper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #paper-wrapper #paper #paperImg {
    margin: 20px auto;
    width: 50%;
  }
  #rock-wrapper {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  #rock-wrapper #rock {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #rock-wrapper #rock #rockImg {
    margin: 20px auto;
    width: 50%;
  }
  .game-container {
    margin-top: 64px;
    margin-bottom: 75px;
  }
  .game-container .step-1 {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px 290px;
    width: 300px;
    height: 400px;
    margin: 20px auto 0 auto;
    margin-top: 5%;
  }
  .game-container .step-1 .paper-wrapper {
    position: relative;
    left: -68px;
    top: -28px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  .game-container .step-1 .paper-wrapper .paper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .paper-wrapper .paper #paper {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .scissors-wrapper {
    position: relative;
    left: 200px;
    top: -210px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  .game-container .step-1 .scissors-wrapper .scissors {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .scissors-wrapper .scissors #scissors {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .rock-wrapper {
    position: relative;
    left: 60px;
    top: -165px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  .game-container .step-1 .rock-wrapper .rock {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .rock-wrapper .rock #rock {
    margin: 26px auto;
    width: 50%;
  }
  .game-container .step-2-3-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 12px;
  }
  .game-container .step-2-3-4 .user-selection {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game-container .step-2-3-4 .user-selection .wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container .step-2-3-4 .user-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 50px;
    justify-self: flex-start;
  }
  .game-container .step-2-3-4 .lose-win {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 32px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .step-2-3-4 .lose-win .outcome {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 3.4rem;
    width: 300px;
    letter-spacing: 0.2rem;
  }
  .game-container .step-2-3-4 .lose-win #playAgain {
    padding: 18px;
    width: 220px;
    border-radius: 4px;
    background-color: #fff;
    color: #3b4363;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .game-container .step-2-3-4 .house-selection {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-container .step-2-3-4 .house-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 44px;
    justify-self: flex-start;
  }
  .game-container .step-2-3-4 .house-selection .unknown {
    background-color: #141539;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 12px auto;
  }
}

@media screen and (min-width: 1000px) {
  #scissors-wrapper {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  #scissors-wrapper #scissors {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #scissors-wrapper #scissors #scissorsImg {
    margin: 33px auto;
    width: 50%;
  }
  #paper-wrapper {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  #paper-wrapper #paper {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #paper-wrapper #paper #paperImg {
    margin: 30px auto;
    width: 50%;
  }
  #rock-wrapper {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  #rock-wrapper #rock {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #rock-wrapper #rock #rockImg {
    margin: 40px auto;
    width: 50%;
  }
  .game-container {
    margin-top: 64px;
    margin-bottom: 45px;
  }
  .game-container .step-1 {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px 290px;
    width: 300px;
    height: 400px;
    margin: 20px auto 0 auto;
    margin-top: 5%;
  }
  .game-container .step-1 .paper-wrapper {
    position: relative;
    left: -58px;
    top: -28px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  .game-container .step-1 .paper-wrapper .paper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .paper-wrapper .paper #paper {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .scissors-wrapper {
    position: relative;
    left: 190px;
    top: -218px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  .game-container .step-1 .scissors-wrapper .scissors {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .scissors-wrapper .scissors #scissors {
    margin: 18px auto;
    width: 50%;
  }
  .game-container .step-1 .rock-wrapper {
    position: relative;
    left: 58px;
    top: -195px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  .game-container .step-1 .rock-wrapper .rock {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  .game-container .step-1 .rock-wrapper .rock #rock {
    margin: 26px auto;
    width: 50%;
  }
  .game-container .step-2-3-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .game-container .step-2-3-4 .user-selection {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .game-container .step-2-3-4 .user-selection .wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container .step-2-3-4 .user-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 49px;
  }
  .game-container .step-2-3-4 .lose-win {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .game-container .step-2-3-4 .lose-win .outcome {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 3.4rem;
    width: 300px;
    letter-spacing: 0.2rem;
  }
  .game-container .step-2-3-4 .lose-win #playAgain {
    padding: 18px;
    width: 220px;
    border-radius: 4px;
    background-color: #fff;
    color: #3b4363;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .game-container .step-2-3-4 .house-selection {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    text-align: center;
  }
  .game-container .step-2-3-4 .house-selection .text {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 44px;
    margin-top: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container .step-2-3-4 .house-selection .unknown {
    background-color: #141539;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    margin-top: 23px;
  }
}

@media screen and (min-width: 1300px) {
  .rules {
    text-align: none;
    position: fixed;
    right: 22px;
    bottom: 10px;
    position: fixed;
  }
  .rules #rulesBtn {
    border-radius: 8px;
    background: none;
    width: 160px;
    padding: 8px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    outline: none;
  }
}

@media screen and (max-width: 330px) {
  #scissors-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
    padding: 18px;
    border-bottom: 8px solid #c48003;
  }
  #scissors-wrapper #scissors {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #scissors-wrapper #scissors #scissorsImg {
    margin: 8px auto;
    width: 50%;
  }
  #paper-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
    padding: 18px;
    border-bottom: 8px solid #2e45b8;
  }
  #paper-wrapper #paper {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #paper-wrapper #paper #paperImg {
    margin: 10px auto;
    width: 50%;
  }
  #rock-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
    padding: 18px;
    border-bottom: 8px solid #ac1b35;
  }
  #rock-wrapper #rock {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ddd;
  }
  #rock-wrapper #rock #rockImg {
    margin: 17px auto;
    width: 50%;
  }
  .game-container .step-1 {
    background-size: 220px;
    height: auto;
  }
  .game-container .step-2-3-4 .house-selection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .game-container .step-2-3-4 .house-selection .unknown {
    width: 110px;
    height: 110px;
    margin: 10px auto;
    margin-bottom: 9px;
  }
  .game-container .step-2-3-4 .lose-win .outcome {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 3.1rem;
    width: 300px;
    letter-spacing: 0.2rem;
    margin: 12px;
  }
  .game-container .rules {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */