// TODO: add font file
@font-face {
    src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
    font-family: BarlowSemiCondensed;
}
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);
