// for larger screens
@media screen and (min-width: 700px) {
    .rules {
        text-align: none;
        position: fixed;
        right: 12px;
        bottom: 25px;
        #rulesBtn {
            border-radius: 8px;
            background: none;
            width: 160px;
            padding: 8px;
            border: 1px solid #fff;
            color: #fff;
            font-weight: 700;
            font-size: 1.1rem;
            outline: none;

            &:hover {
                background-color: #fff;
                color: $darkText;
                background: line;
                cursor: pointer;
            }
        }
    }
    .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &-content {
            position: relative;
            top: 25%;
            background-color: #fff;
            margin: auto auto;
            border-radius: 5px;
            width: 320px;
            text-align: center;
            #icon-close {
                position: absolute;
                top: 28px;
                width: 20px;
                margin-left: 53px;
                padding: 0;
            }
            .rules-title {
                color: $darkText;
                padding: 0;
                font-size: 1.5rem;
                margin-left: 18px;
                margin-top: 10px;
                float: left;
            }
            #img-rules {
                margin-top: 40px;
                width: 250px;
                z-index: -1;
                padding: 0;
            }
        }
    }

    .scoreboard {
        width: 50%;
        display: grid;
        grid-template-columns: 70% 30%;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 5px;
        margin: 40px auto;
        .rockpaperscissors {
            margin: auto 18px;
            b {
                color: #fff;
                display: block;
                line-height: 24px;
                font-size: 1.8rem;
                margin: 0;
                padding: 0;
            }
        }
        .score {
            justify-self: end;
            width: auto;
            margin: 10px 16px;
            background-color: #fff;
            border-radius: 6px;
            text-align: center;
            padding: 5px 17px;
            font-size: 1.2rem;
            color: hsl(229, 64%, 46%);
            #score {
                color: hsl(229, 25%, 31%);
                font-size: 3.8rem;
                margin: 0 4px;
            }
        }
    }

    .text {
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 12px;
        text-align: center;
    }

    .unknown {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #162138;
    }

    // size variable
    $size: 120px;
    .game-container {
        .stage-1 {
            background-image: url("../images/bg-triangle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 320px 290px;
            width: 300px;
            height: 400px;
            margin: 20px auto 0 auto;
            margin-top: 5%;
            .paper-wrapper {
                position: relative;
                left: -68px;
                top: -28px;
                width: ($size + 20px);
                height: ($size + 20px);
                border-radius: 50%;
                background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
                padding: 18px;
                border-bottom: 8px solid hsl(230, 60%, 45%);
                .paper {
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #paper {
                        margin-top: 18px;
                        margin-right: 4px;
                        width: 50%;
                    }
                }
            }
            .scissors-wrapper {
                position: relative;
                left: 200px;
                top: -210px;
                width: ($size + 20px);
                height: ($size + 20px);
                border-radius: 50%;
                background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
                padding: 18px;
                border-bottom: 8px solid hsl(39, 97%, 39%);
                .scissors {
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #scissors {
                        margin-top: 18px;
                        margin-right: 4px;
                        width: 50%;
                    }
                }
            }
            .rock-wrapper {
                position: relative;
                left: 60px;
                top: -165px;
                width: ($size + 20px);
                height: ($size + 20px);
                border-radius: 50%;
                background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
                padding: 18px;
                border-bottom: 8px solid hsl(349, 73%, 39%);
                .rock {
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #rock {
                        margin-top: 28px;
                        margin-right: 4px;
                        width: 50%;
                    }
                }
            }
        }
    }
}

// for very small screens
@media screen and (max-width: 300px) {
    .game-container {
        .stage-1 {
            background-size: 220px;
            height: auto;
            margin: 0px;
        }
    }
    .rules {
        margin-left: 10px;
    }
}
