// media query for larger screens
@media screen and (min-width: 700px) {
    .rules {
        text-align: none;
        position: absolute;
        right: 12px;
        bottom: 25px;
        #rulesBtn {
            border-radius: 8px;
            background: none;
            width: 160px;
            padding: 8px;
            border: 1px solid #fff;
            color: #fff;
            font-weight: 700;
            font-size: 1.1rem;
            outline: none;

            &:hover {
                background-color: #fff;
                color: $darkText;
                background: line;
            }
        }
    }
    .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &-content {
            position: relative;
            top: 25%;
            background-color: #fff;
            margin: auto auto;
            border-radius: 5px;
            width: 320px;
            text-align: center;
            #icon-close {
                position: absolute;
                top: 28px;
                width: 20px;
                margin-left: 53px;
                padding: 0;
            }
            .rules-title {
                color: $darkText;
                padding: 0;
                font-size: 1.5rem;
                margin-left: 18px;
                margin-top: 10px;
                float: left;
            }
            #img-rules {
                margin-top: 40px;
                width: 250px;
                z-index: -1;
                padding: 0;
            }
        }
    }

    .scoreboard {
        width: 50%;
        display: grid;
        grid-template-columns: 70% 30%;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 5px;
        margin: 40px auto;
        .rockpaperscissors {
            margin: auto 18px;
            b {
                color: #fff;
                display: block;
                line-height: 24px;
                font-size: 1.8rem;
                margin: 0;
                padding: 0;
            }
        }
        .score {
            justify-self: end;
            width: auto;
            margin: 10px 16px;
            background-color: #fff;
            border-radius: 6px;
            text-align: center;
            padding: 5px 17px;
            font-size: 1.2rem;
            color: hsl(229, 64%, 46%);
            #score {
                color: hsl(229, 25%, 31%);
                font-size: 3.8rem;
                margin: 0 4px;
            }
        }
    }

    .text {
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 12px;
        text-align: center;
    }

    .unknown {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #162138;
    }

    // size variable
    $size: 120px;
    .paper-wrapper {
        width: ($size + 20px);
        height: ($size + 20px);
        border-radius: 50%;
        background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
        padding: 18px;
        border-bottom: 8px solid hsl(230, 60%, 45%);
        .paper {
            width: $size;
            height: $size;
            border-radius: 50%;
            background: white;
            text-align: center;
            padding: 10px;
            border-top: 5px solid #ddd;
            .paperImg {
                margin-top: 16px;
                margin-right: 4px;
            }
        }
    }

    .scissors-wrapper {
        width: ($size + 20px);
        height: ($size + 20px);
        border-radius: 50%;
        background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
        padding: 18px;
        border-bottom: 8px solid hsl(39, 97%, 39%);
        .scissors {
            width: $size;
            height: $size;
            border-radius: 50%;
            background: white;
            text-align: center;
            padding: 10px;
            border-top: 5px solid #ddd;
            .scissorsImg {
                margin-top: 18px;
                margin-right: 0px;
            }
        }
    }

    .rock-wrapper {
        width: ($size + 20px);
        height: ($size + 20px);
        border-radius: 50%;
        background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
        padding: 18px;
        border-bottom: 8px solid hsl(349, 73%, 39%);
        .rock {
            width: $size;
            height: $size;
            border-radius: 50%;
            background: white;
            text-align: center;
            padding: 10px;
            border-top: 5px solid #ddd;
            .rockImg {
                margin-top: 22px;
                margin-right: 4px;
            }
        }
    }
}

// for mobile devices
@media screen and (max-width: 700px) {
    .game-container {
        margin: 75px 0;
        .stage-1 {
            background-image: url("../images/bg-triangle.svg");
            background-repeat: no-repeat;
            background-size: 220px;
            height: auto;
            margin: 45px auto 23px auto;
            .paper-wrapper {
                position: relative;
                left: 12px;
                top: 10px;
                width: 70px;
                height: 70px;
                margin: 0;
                border-radius: 50%;
                background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
                padding: 15px;
                border-bottom: 8px solid hsl(230, 60%, 45%);
                .paper {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #paper {
                        margin-top: -5px;
                        margin-right: 2px;
                        width: 85%;
                    }
                }
            }
            .scissors-wrapper {
                position: relative;
                left: 188px;
                top: -98px;
                width: 70px;
                height: 70px;
                margin: 0;
                border-radius: 50%;
                background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
                padding: 15px;
                border-bottom: 8px solid hsl(39, 97%, 39%);
                .scissors {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #scissors {
                        margin-top: -3px;
                        margin-right: 2px;
                        width: 85%;
                    }
                }
            }

            .rock-wrapper {
                position: relative;
                left: 103px;
                top: -48px;
                width: 70px;
                height: 70px;
                margin: 0;
                border-radius: 50%;
                background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
                padding: 15px;
                border-bottom: 8px solid hsl(349, 73%, 39%);
                .rock {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
                    padding: 10px;
                    border-top: 5px solid #ddd;
                    #rock {
                        margin-top: 2px;
                        margin-right: 2px;
                        width: 85%;
                    }
                }
            }
        }
        .stage-2 {
            display: none;
            .container {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                width: 100%;
                .images {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-self: center;
                    gap: 20px;
                    .user-selection {
                        margin: 12px auto;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        text-align: center;
                        align-items: center;
                    }

                    .house-selection {
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        text-align: center;
                        align-items: center;
                        margin-top: 12px;

                        .unknown {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .info {
                    gap: 20px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    justify-content: center;
                }
            }
        }
    }
}

// for very small screens
@media screen and (max-width: 300px) {
    body {
        overflow-x: hidden;
    }
    .game-container {
        .stage-1 {
            background-size: 220px;
            height: auto;
            margin: -8px;
        }
    }
    .rules {
        margin-left: 18px;
    }
}
