@import "config";
body {
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: BarlowSemiCondensed;
    margin: 0;
    padding: 0;
}

.scoreboard {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    margin: 40px auto;
    .rockpaperscissors {
        margin: auto 18px;
        b {
            color: #fff;
            display: block;
            line-height: 17px;
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
        }
    }
    .score {
        justify-self: end;
        width: auto;
        margin: 10px 8px;
        background-color: #fff;
        border-radius: 6px;
        text-align: center;
        padding: 8px;
        font-size: 0.9rem;
        letter-spacing: 3px;
        font-weight: 600;
        color: hsl(229, 64%, 46%);
        #score {
            color: hsl(229, 25%, 31%);
            font-size: 2.8rem;
            margin: 0 4px;
            font-weight: 700;
        }
    }
}

.game-container {
    .stage-1 {
        // display: none;
        background-image: url("../images/bg-triangle.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 300px;
        height: 400px;
        margin: 20px auto;
        margin-top: 73px;
        @include paper(100px);
        @include scissors(100px);
        @include rock(100px);
    }

    .stage-2 {
        display: none;
        .container {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column-reverse;
            width: 100%;
            .images {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
                gap: 45px;
                .user-selection {
                    margin: 12px auto;
                    display: flex;
                    flex-direction: column-reverse;
                    flex-wrap: nowrap;
                    text-align: center;
                    align-items: center;
                }

                .house-selection {
                    margin: auto;
                    display: flex;
                    flex-direction: column-reverse;
                    flex-wrap: nowrap;
                    text-align: center;
                    align-items: center;
                    margin-top: 12px;
                }
            }

            .info {
                gap: 45px;
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
            }
        }
    }
}

.text {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin: 8px;
    text-align: center;
}

.unknown {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #162138;
}
.rules {
    text-align: center;
    margin-bottom: 12px;
    #rulesBtn {
        border-radius: 8px;
        background: none;
        width: 140px;
        padding: 10px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 700;
        font-size: 1.1rem;
        outline: none;
        &:hover {
            background-color: #fff;
            color: $darkText;
        }
    }
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    &-content {
        background-color: #fff;
        margin: 45px 0 35px 0;
        padding: 17px 0;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        #icon-close {
            position: relative;
            z-index: 99;
            width: 22px;
            margin: 0;
            padding: 0;
            top: 70vh;
        }
        .rules-title {
            color: $darkText;
            padding: 0;
            font-size: 1.5rem;
            margin: 0;
        }
        #img-rules {
            margin-top: 80px;
            width: 250px;
            z-index: -1;
            padding: 0;
        }
    }
}

// size variable
$size: 60px;
.paper-wrapper {
    width: ($size + 20px);
    height: ($size + 20px);
    border-radius: 50%;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    padding: 18px;
    border-bottom: 8px solid hsl(230, 60%, 45%);
    .paper {
        width: $size;
        height: $size;
        border-radius: 50%;
        background: white;
        text-align: center;
        padding: 10px;
        border-top: 5px solid #eee;
        .paperImg {
            margin-right: 4px;
            width: 60%;
            margin-top: 8px;
        }
    }
}

.scissors-wrapper {
    width: ($size + 20px);
    height: ($size + 20px);
    border-radius: 50%;
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    padding: 18px;
    border-bottom: 8px solid hsl(39, 97%, 39%);
    .scissors {
        width: $size;
        height: $size;
        border-radius: 50%;
        background: white;
        text-align: center;
        padding: 10px;
        border-top: 5px solid #eee;
        .scissorsImg {
            margin-top: 8px;
            width: 60%;
        }
    }
}

.rock-wrapper {
    width: ($size + 20px);
    height: ($size + 20px);
    border-radius: 50%;
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    padding: 18px;
    border-bottom: 8px solid hsl(349, 73%, 39%);
    .rock {
        width: $size;
        height: $size;
        border-radius: 50%;
        background: white;
        text-align: center;
        padding: 10px;
        border-top: 5px solid #eee;
        .rockImg {
            margin-top: 12px;
            margin-right: 4px;
            width: 60%;
        }
    }
}

.house-wrapper {
    display: none;
}

.show-modal {
    visibility: visible;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@import "media";
