@import "config";
body {
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: BarlowSemiCondensed;
    margin: 0;
    padding: 0;
}

.scoreboard {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    margin: 40px auto;
    .rockpaperscissors {
        margin: auto 18px;
        p {
            color: #fff;
            line-height: 17px;
            font-size: 1.2rem;
            font-weight: 900;
            margin: 0;
            padding: 0;
        }
    }
    .score {
        justify-self: end;
        width: 70px;
        margin: 10px 8px;
        background-color: #fff;
        border-radius: 6px;
        text-align: center;
        padding: 8px;
        font-size: 0.9rem;
        letter-spacing: 3px;
        font-weight: 600;
        color: hsl(229, 64%, 46%);
        #score {
            color: hsl(229, 25%, 31%);
            font-size: 2.8rem;
            margin: 0 4px;
            font-weight: 700;
        }
    }
}

// .game-container {
//     .stage-1 {
//         background-image: url("../images/bg-triangle.svg");
//         background-repeat: no-repeat;
//         background-position: center;
//         width: 300px;
//         height: 400px;
//         margin: 20px auto;
//         margin-top: 43px;
//         @include paper(80px);
//         @include scissors(80px);
//         @include rock(80px);
//     }
// }
.game-container {
    .stage-1 {
        // display: none;
        background-image: url("../images/bg-triangle.svg");
        background-repeat: no-repeat;
        background-size: 220px;
        background-position: center;
        width: 300px;
        height: 400px;
        height: auto;
        margin: 20px auto 0 auto;
        margin-top: 5%;
        $size: 55px;
        .paper-wrapper {
            position: relative;
            left: 12px;
            top: 10px;
            width: ($size + 20px);
            height: ($size + 20px);
            margin: 0;
            border-radius: 50%;
            background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
            padding: 15px;
            border-bottom: 8px solid hsl(230, 60%, 45%);
            &:hover {
                cursor: pointer;
            }
            .paper {
                width: ($size);
                height: ($size);
                border-radius: 50%;
                background: white;
                text-align: center;
                padding: 10px;
                border-top: 5px solid #ddd;
                #paper {
                    margin-top: -5px;
                    margin-right: 2px;
                    width: 85%;
                }
            }
        }
        .scissors-wrapper {
            position: relative;
            left: 188px;
            top: -105px;
            width: ($size + 20px);
            height: ($size + 20px);
            margin: 0;
            border-radius: 50%;
            background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
            padding: 15px;
            border-bottom: 8px solid hsl(39, 97%, 39%);
            &:hover {
                cursor: pointer;
            }
            .scissors {
                width: ($size);
                height: ($size);
                border-radius: 50%;
                background: white;
                text-align: center;
                padding: 10px;
                border-top: 5px solid #ddd;
                #scissors {
                    margin-top: -3px;
                    margin-right: 2px;
                    width: 85%;
                }
            }
        }

        .rock-wrapper {
            position: relative;
            left: 95px;
            top: -48px;
            width: ($size + 20px);
            height: ($size + 20px);
            margin: 0;
            border-radius: 50%;
            background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
            padding: 15px;
            border-bottom: 8px solid hsl(349, 73%, 39%);
            &:hover {
                cursor: pointer;
            }
            .rock {
                width: ($size);
                height: ($size);
                border-radius: 50%;
                background: white;
                text-align: center;
                padding: 10px;
                border-top: 5px solid #ddd;
                #rock {
                    margin-top: -2px;
                    margin-right: 2px;
                    width: 85%;
                }
            }
        }
    }
}
.text {
    margin: 8px;
}
.rules {
    text-align: center;
    margin-bottom: 20px;
    #rulesBtn {
        border-radius: 8px;
        background: none;
        width: 140px;
        padding: 10px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 700;
        font-size: 1.1rem;
        outline: none;
        &:hover {
            background-color: #fff;
            color: $darkText;
        }
    }
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    &-content {
        background-color: #fff;
        margin: 45px 0 35px 0;
        padding: 17px 0;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        #icon-close {
            position: relative;
            z-index: 99;
            width: 22px;
            margin: 0;
            padding: 0;
            top: 70vh;
        }
        .rules-title {
            color: $darkText;
            padding: 0;
            font-size: 1.5rem;
            margin: 0;
        }
        #img-rules {
            margin-top: 80px;
            width: 250px;
            z-index: -1;
            padding: 0;
        }
    }
}
.paper-wrapper {
    width: (80px + 20px);
    height: (80px + 20px);
    border-radius: 50%;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    padding: 18px;
    border-bottom: 8px solid hsl(230, 60%, 45%);
    .paper {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: white;
        text-align: center;
        padding: 10px;
        border-top: 5px solid #ddd;
        .paperImg {
            margin-top: 8px;
            margin-right: 4px;
        }
    }
}
.show-modal {
    visibility: visible;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@import "media";
